# 🏎️ F1 Sprint Race Wins Analysis
**Author:** Faisal Nazir  
**Objective:** Download Kaggle F1 dataset and compute sprint race wins per driver.

> This notebook uses the `kagglehub` library to fetch the dataset and Pandas to clean and analyse the data.

In [28]:
# !pip install kagglehub pandas
import kagglehub
import pandas as pd
import os
from IPython.display import display, Markdown

In [8]:
# Download the dataset
path = kagglehub.dataset_download("rohanrao/formula-1-world-championship-1950-2020")
print("Path to dataset files:", path)

Path to dataset files: /kaggle/input/formula-1-world-championship-1950-2020

In [15]:
# Load the necessary dataframes
circuits_df = pd.read_csv(os.path.join(path, 'circuits.csv'))
races_df = pd.read_csv(os.path.join(path, 'races.csv'))
results_df = pd.read_csv(os.path.join(path, 'results.csv'))
drivers_df = pd.read_csv(os.path.join(path, 'drivers.csv'))
sprint_results_df = pd.read_csv(os.path.join(path, 'sprint_results.csv'))

In [16]:
# Merge sprint results with races to get race information
sprint_races_df = pd.merge(sprint_results_df, races_df[['raceId', 'year', 'name']], on='raceId')

# Merge with drivers to get driver names
sprint_race_winners = pd.merge(sprint_races_df[sprint_races_df['positionOrder'] == 1], drivers_df[['driverId', 'forename', 'surname']], on='driverId')

# Combine forename and surname for full driver name
sprint_race_winners['driverName'] = sprint_race_winners['forename'] + ' ' + sprint_race_winners['surname']

In [56]:
# Display the results
print("Number of F1 Sprint race wins per driver:")
print(sprint_wins_count)

Number of F1 Sprint race wins per driver:
        driverName  sprintWins
0   Max Verstappen          11
1  Valtteri Bottas           2
2    Oscar Piastri           2
3   George Russell           1
4     Sergio Pérez           1
5     Lando Norris           1

In [37]:
# Count the number of sprint wins for each driver
sprint_wins_count = sprint_race_winners['driverName'].value_counts().reset_index()
sprint_wins_count.columns = ['driverName', 'sprintWins']

In [68]:
from IPython.display import display

styled_sprint_wins = sprint_wins_count.style.set_table_styles([
    {'selector': 'thead th', 'props': [('background-color', '#111'), ('color', 'white'), ('font-weight', 'bold')]},
    {'selector': 'tbody td', 'props': [('background-color', '#222'), ('color', 'white')]},
    {'selector': 'tbody tr:nth-child(even)', 'props': [('background-color', '#2a2a2a')]},
    {'selector': 'td', 'props': [('text-align', 'left')]}
]).set_properties(**{'border': '1px solid #333', 'padding': '5px'})

display(styled_sprint_wins)

In [77]:
gp_winners = pd.merge(results_df[results_df['positionOrder'] == 1], drivers_df[['driverId', 'forename', 'surname']], on='driverId')
gp_winners['driverName'] = gp_winners['forename'] + ' ' + gp_winners['surname']

# Step 2: Group by driver name and count wins
grandprix_wins = gp_winners['driverName'].value_counts().reset_index()
grandprix_wins.columns = ['driverName', 'grandprixWins']
grandprix_wins = grandprix_wins.sort_values(by='grandprixWins', ascending=False).reset_index(drop=True)

# Step 3: Extract top and bottom
top5 = grandprix_wins.head(5)
bottom5 = grandprix_wins.tail(5)
ellipsis = pd.DataFrame([["...", "..."]], columns=['driverName', 'grandprixWins'])

# Step 4: Combine
final_df = pd.concat([top5, ellipsis, bottom5], ignore_index=True)
final_df.columns = ['driverName', 'grandprixWins']

# Step 5: Custom index
custom_index = list(range(5)) + ['...'] + list(range(len(grandprix_wins) - 5, len(grandprix_wins)))
final_df.index = custom_index

# Step 6: Style
styled_df = final_df.style.set_table_styles([
    {'selector': 'thead th', 'props': [('background-color', '#111'), ('color', 'white'), ('font-weight', 'bold')]},
    {'selector': 'tbody td', 'props': [('background-color', '#222'), ('color', 'white')]},
    {'selector': 'tbody tr:nth-child(even)', 'props': [('background-color', '#2a2a2a')]},
    {'selector': 'td', 'props': [('text-align', 'left')]}
]).set_properties(**{'border': '1px solid #333', 'padding': '5px'})

# Step 7: Display
display(Markdown("### Number of F1 Grand Prix wins per driver:"))
display(styled_df)
display(Markdown(f"**{len(grandprix_wins)} rows × 2 columns**"))

### Number of F1 Grand Prix wins per driver:

**115 rows × 2 columns**